/* Fonts: */
@font-face {
    font-family: 'i0';
    src: url('fonts/ComicNeue-Angular_Oblique.otf');
    font-style: italic;
}
@font-face {
    font-family: 'b0';
    src: url('fonts/ComicNeue-Angular_Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'r0';
    src: url('fonts/ComicNeue-Angular_Regular.otf');
    font-style: normal;
    font-weight: normal;
}

/* Canvases and styles for once game has loaded: */
html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: default;
    background-color: rgb(153, 217, 233); /* Same blue as in clouds background */
    width: 100%;
    height: 100%;
}
#Main {
    position: fixed;
    top: 0;
    left: 0;
}
canvas {
    position: absolute;
}