@font-face {
    font-family: 'i0';
    src: url('fonts/ComicNeue-Angular_Oblique.otf');
    font-style: italic;
}
@font-face {
    font-family: 'b0';
    src: url('fonts/ComicNeue-Angular_Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'r0';
    src: url('fonts/ComicNeue-Angular_Regular.otf');
    font-style: normal;
    font-weight: normal;
}
html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: default;
    background: black;
    width: 288px;
}
#Main {
    position: fixed;
    top: 0;
    left: 0;
}
canvas {
    position: absolute;
}
#canvas {
    background: rgb(185, 185, 255);
}